S3_BUCKET=unit3-capstone-yourname
ECR_REPOSITORY=unit3-ingest
LAMBDA_FUNCTION=unit3-document-ingest
RDS_INSTANCE=unit3-postgres
OPENSEARCH_DOMAIN=unit3-search
REDSHIFT_WORKGROUP=unit3-warehouse
GLUE_DATABASE=document_pipeline
